* 
{
margin: 0;
padding: 0;
font-family: cursive;    
}
body 
{
background-color: lightgray;        
}
#header 
{
width: 100%;
height: auto;
background-color: blueviolet;    
display: flex;
flex-wrap: wrap;
top: 0;
position: sticky;
z-index: 2;
}
.logo 
{
width: 30%;
height: auto;
padding: 15px;
font-size: 28px;
color: white;
}
.search-bar
{
width: 65%;
height: auto;
padding: 15px;
}
.search-bar input 
{
    width: 80%;
    height: auto;
    padding: 8px;
}
/* navbar */
#nav 
{
width: 100%;
height: auto;
background-color: black;
}
#nav ul li 
{
 display: inline-block;
 padding: 5px 25px;   
}
#nav a 
{
    color: white;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
}
#banner 
{
 width: 90%;
 height: 350px;
 margin-left: 5%;
 margin-top: 2%;
 background: url('../images/banner.avif') no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
}
.banner-txt
{
width: 60%;
height: auto;
margin: auto;
margin-left: 20%;
margin-top: 8%;    
position: absolute;
}
#content 
{
width: 90%;
height: auto;
margin-left: 5%;    
display: flex;
flex-wrap: wrap;
}
.leftsidebar 
{
width: 30%;
height: 450px;
background-color: white;
margin-top: 2%;
}
.rightsidebar
{
width: 70%;
height: 450px;
background-color: coral;
margin-top: 2%;
}

#footer 
{
width: 100%;
height: auto;
padding: 20px;
background-color: black;
color: white;
text-align: center;
font-size: 20px;
margin-top: 2%;    
}
/* for mobile */
@media only screen and (min-width:320px) and (max-width:480px)
{
#header 
{
width: 100%;
height: auto;
background-color: blueviolet;    
display: flex;
flex-wrap: wrap;
top: 0;
position: sticky;
z-index: 5;
} 
.logo 
{
width: 30%;
height: auto;
padding: 15px;
font-size: 20px;
color: white;
}
.search-bar
{
width: 55%;
height: auto;
padding: 15px;
}
.search-bar input 
{
width: 90%;
height: auto;
padding: 8px;
} 
/* navbar */
#nav 
{
width: 100%;
height: auto;
background-color: black;
}
#nav ul li 
{
 display: inline-block;
 padding: 5px 15px;   
}
#nav a 
{
color: white;
font-size: 15px;
text-decoration: none;
text-transform: uppercase;
}
#banner 
{
 width: 90%;
 height: 220px;
 margin-left: 5%;
 margin-top: 2%;
 background: url('../images/banner.avif') no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
}
.banner-txt
{
width: 90%;
height: auto;
margin: auto;
margin-left: 5%;
margin-top: 5%;    
position: absolute;
font-size: 15px;
}
#content 
{
width: 90%;
height: auto;
margin-left: 5%;    
display: block;
}
.leftsidebar 
{
width: 100%;
height: 450px;
background-color: white;
margin-top: 2%;
}
.rightsidebar
{
width: 100%;
height: 450px;
background-color: coral;
margin-top: 2%;
}
#footer 
{
width: 100%;
height: auto;
padding: 20px;
background-color: black;
color: white;
text-align: center;
font-size: 20px;
margin-top: 2%;  
bottom: 0;  
position: sticky;
}

}

/* tablet */
@media only screen and (min-width:481px) and (max-width:768px)
{
 body 
{
background-color: red;        
}   

}

/* laptop */
@media only screen and (min-width:769px) and (max-width:1024px)
{
 body 
{
background-color: coral;        
}   
}

/* desktop & large device */
/* @media only screen and (min-width:1025px) and (max-width:1440px)
{
 body 
{
background-color: aqua;        
}   
} */